

<section class="main">

        <div class="ia-container">
            
            <figure>
              <img src="/assets/img/album/pic1.jpg" alt="image01" />
              <input type="radio" name="radio-set" checked="checked" />
              <!-- <figcaption><span>True Colors</span></figcaption> -->
              
              <figure>
                <img src="/assets/img/album/pic2.jpg" alt="image02" />
                <input type="radio" name="radio-set" />
                <!-- <figcaption><span>Honest Light</span></figcaption> -->
                
                <figure>
                    <img src="/assets/img/album/pic3.jpg" alt="image03" />
                    <input type="radio" name="radio-set" />
                    <!-- <figcaption><span>Honest Light</span></figcaption> -->
                  
                  <figure>
                      <img src="/assets/img/album/pic4.jpg" alt="image04" />
                      <input type="radio" name="radio-set" />
                      <!-- <figcaption><span>Honest Light</span></figcaption> -->
                    
                    <figure>
                        <img src="/assets/img/album/pic5.jpg" alt="image05" />
                        <input type="radio" name="radio-set" />
                        <!-- <figcaption><span>Honest Light</span></figcaption> -->
                      
                      <figure>
                          <img src="/assets/img/album/pic6.jpg" alt="image06" />
                          <input type="radio" name="radio-set" />
                          <!-- <figcaption><span>Honest Light</span></figcaption> -->
                  
                        <figure>
                            <img src="/assets/img/album/pic7.jpg" alt="image07" />
                            <input type="radio" name="radio-set" />
                          <figure>
                              <img src="/assets/img/album/pic8.jpg" alt="image07" />
                              <input type="radio" name="radio-set" />
                          </figure>
                          
                        </figure>
                  
                      </figure>	
                        
                    </figure>	
                      
                  </figure>
                    
                </figure>
                
              </figure>
              
            </figure>
            
          </div>
        </section>