<div id="canvas">

  <div id="floorSelect">
    <h4>מעלית הזמן</h4>
    <ul>


      <li id="elevatorLevel4" data-floor="4">4</li>
      <li id="elevatorLevel3" data-floor="3">3</li>
      <li id="elevatorLevel2" data-floor="2">2</li>
      <li id="elevatorLevel1" data-floor="1">1</li>
      <li id="elevatorLevel0" data-floor="0">GL</li>


    </ul>

  </div>
  <div id="building">

    <div id="elevatorShaft">

      <div id="elevatorContainer">
        <div id="strings"></div>
        <div id="elevator">
          <div class="door active-left" id="leftDoor"></div>
          <div class="door active-right" id="rightDoor"></div>

        </div>

      </div>

    </div>

  </div>



</div>