<div id="canvas">
        <p>In the background you can see the beautiful town of Primosten, Croatia.</p>
    
       <div  id="floorSelect">
         <h4>Select your floor</h4>
         <ul>
           
            <li data-floor="0">GL</li>
           <li data-floor="1">1</li>
            <li data-floor="2">2</li>
            <li data-floor="3">3</li>
            <li data-floor="4">4</li>
           
         </ul>
        
       </div>
      <div id="building">
        
        <div id="elevatorShaft">
          
          <div id="elevatorContainer" >
            <div id="strings"></div>
              <div id="elevator">
                <div class="door active-left" id="leftDoor"></div>
                <div class="door active-right" id="rightDoor"></div>
                
                </div>

          </div>
          
        </div>
        
      </div>
     
    
       
    </div>